In [2]:
import pandas as pd

# Read the CSV file
data_frame = pd.read_csv("C:\datascience_project\glassdoor\Cleaned_DS_Jobs.csv")

# Access the data in the DataFrame
print(data_frame.head())  # Print the first few rows of the DataFrame

           Job Title Salary Estimate  \
0  Sr Data Scientist        137-171
1     Data Scientist        137-171
2     Data Scientist        137-171
3     Data Scientist        137-171
4     Data Scientist        137-171

                                     Job Description  Rating  \
0  Description\n\nThe Senior Data Scientist is re...     3.1
1  Secure our Nation, Ignite your Future\n\nJoin ...     4.2
2  Overview\n\n\nAnalysis Group is one of the lar...     3.8
3  JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
4  Data Scientist\nAffinity Solutions / Marketing...     2.9

         Company Name       Location            Headquarters  \
0         Healthfirst   New York, NY            New York, NY
1             ManTech  Chantilly, VA             Herndon, VA
2      Analysis Group     Boston, MA              Boston, MA
3             INFICON     Newton, MA  Bad Ragaz, Switzerland
4  Affinity Solutions   New York, NY            New York, NY

                      Size        Type of ownership  \
0   1001 to 5000 employees   Nonprofit Organization
1  5001 to 10000 employees         Company - Public
2   1001 to 5000 employees  Private Practice / Firm
3    501 to 1000 employees         Company - Public
4      51 to 200 employees        Company - Private

                                Industry  ... company_age python  excel  \
0                     Insurance Carriers  ...          27      0      0
1                 Research & Development  ...          52      0      0
2                             Consulting  ...          39      1      1
3  Electrical & Electronic Manufacturing  ...          20      1      1
4                Advertising & Marketing  ...          22      1      1

   hadoop  spark aws  tableau  big_data        job_simp  seniority
0       0      0   1        0         0  data scientist     senior
1       1      0   0        0         1  data scientist         na
2       0      0   1        0         0  data scientist         na
3       0      0   1        0         0  data scientist         na
4       0      0   0        0         0  data scientist         na

[5 rows x 27 columns]

In [6]:
data_frame['Salary Estimate']

0      137-171
1      137-171
2      137-171
3      137-171
4      137-171
         ...
655    105-167
656    105-167
657    105-167
658    105-167
659    105-167
Name: Salary Estimate, Length: 660, dtype: object

In [ ]:
salary = data_frame['column_name']

# Print the column data
print(column_data)